<div class="jumbotron text-center">
  <h1>About Jungle</h1>
  <p>Our mission is to ultrices in iaculis nunc sed augue lacus viverra. Fames ac turpis egestas sed tempus urna et pharetra pharetra.</p>
</div>

<div class="container">
    <p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et odio semper neque posuere ultricies quis sit amet nulla. Ut et enim ac risus venenatis elementum nec in ipsum. Fusce scelerisque, augue non fermentum laoreet, dui magna lacinia nunc, sit amet interdum neque quam quis enim. Nullam iaculis erat sed ex vestibulum, eget interdum odio congue. Maecenas tempor fermentum leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc eleifend viverra felis vel fringilla. Phasellus luctus sapien id enim dapibus, congue efficitur leo tempor. Nunc lacinia sit amet tellus laoreet vulputate.
    </p>
    <p class="text-justify">
    Morbi in semper ex. Fusce dignissim mi vel libero porta aliquet. Aenean hendrerit eu nulla non interdum. Suspendisse mollis diam id risus feugiat lacinia. Vestibulum ultrices nibh aliquam lectus commodo, interdum commodo tellus faucibus. Aliquam scelerisque sed lorem rhoncus molestie. Ut luctus quis magna posuere elementum. Vivamus dignissim est egestas dui aliquam, elementum ullamcorper purus blandit. Proin tristique et magna at sodales. Phasellus vestibulum convallis gravida. Etiam at auctor mi. Pellentesque tincidunt erat imperdiet luctus pharetra. Fusce justo ipsum, posuere et blandit id, rhoncus vitae ante. In in tortor ac elit semper vestibulum nec in justo.
    </p>

    <p class="text-justify">
    Etiam vestibulum turpis in sagittis hendrerit. Vivamus commodo sit amet metus nec bibendum. Suspendisse lacus quam, suscipit non egestas sed, bibendum nec nulla. Nam sem eros, viverra sit amet libero a, laoreet mollis felis. Quisque eget lobortis dui, gravida tempor sapien. Proin volutpat nisi sed tristique convallis. Nulla rutrum volutpa
    </p>

</div>